div {
  border: 1px solid black;
}

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  position: fixed;
  z-index: 20;
  background-color: white;
}

.logo {
  color: MediumAquamarine;
  display: flex;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;

}

.logo img {
  margin-right: 12px;
}

header nav {
  padding-right: 40px;
}

span {
  padding: 20px 10px;
}

a {
  color: black;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
  width: 1232px;
  margin: 0 auto 66px auto;
}

/****** Main Container ******/

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

/****** 1st Column ******/

.column.large {
  width: 630px;
}

/****** 2nd Column ******/

.column.medium {
  width: 300px;
}

/****** 3rd Column ******/

.column.small {
  width: 240px;
}

.news-bites h3 {
  text-transform: capitalize;
}
